body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 40px;
  position:relative;
}

.col_title {
  position:absolute;
  top:-35px;
  color: #797979;
}

.subtitle{
  color: #4054B2;
}

.pagetitle{
  color: #4054B2;
  font-weight: bold;
}

.bold_it{
  color: #4054B2;
}

.grey_it{
  color: #797979;
}

